html, body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
    border: 3px solid #333;
    border-radius: 10px;
    padding: 5px;
}

.img-logo {
    width: 150px;
    height: 150px;
    margin: 10px auto;
}

#input-field {
    padding: 15px;
    border: 0;
    border-radius: 8px;
    background-color: #dbdbdb;
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0;
}

#add-button {
    padding: 15px;
    border: 0;
    border-radius: 8px;
    background-color: rgb(163,30,30);
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
